.imcCalc {
    width: 466px;
    max-height: fit-content;
    display: block;
    margin: 64px auto;
    padding: 32px;
    border-radius: 32px;
    background-color: #c0bfc372;
}

.imcCalc__inputContainer {
    display: flex;
}

.imcCalc__inputContainer__inputGroup {
    margin: 0 16px;
    font-size: 22px;
}

.imcCalc__inputContainer__inputGroup input {
    display: block;
    max-width: 100px;
    margin: 4px auto 0;
    padding: 6px;
    border-radius: 4px;
    border: 2px solid var(--blackPrimary);
    outline: none;
    font-size: 22px;
}

.imcCalc__buttonGroup {
    display: flex;
    margin: 16px 0;
    justify-content: center;
    gap: 32px;
}

.imcCalc__buttonGroup__button {
    font-size: 18px;
    padding: 13px 45px;
    border-radius: 30px;
    font-weight: bolder;
}
.imcCalc__buttonGroup__buttonCalc {
    background-color: var(--btnColorPrimary);
}
.imcCalc__buttonGroup__buttonClean {
    background-color: var(--btnColorSecondary);
}

@media screen and (max-width: 426px) {
    .imcCalc {
        width: 100%;
    }
}
@media screen and (max-width: 321px) {
    .imcCalc__inputContainer__inputGroup {
        font-size: 18px;
    }
    .imcCalc__buttonGroup__button {
        padding: 6px 22.5px;
    }
    .imcCalc__buttonGroup {
        gap: 12px;
    }
}